Students
{
  font-size: 30px;
  font-family: Ariel;
  display: block;
}
Student
{
  font-size: 20px;
  border: 1px solid silver;
  margin: 2px;
  display: block;
}
FirstName:before
{
  content: 'Student Name: ';
  position: relative;
  color: blue;
}
FirstName
{
  position: relative;
  color: green;
}
FirstName:after
{
  content: ' ' attr(PreferredName) ' ';
  color: darkmagenta;
}
MiddleName:before
{
  content: ' ';
  position: relative;
}
MiddleName
{
  position: relative;
  color: green;
}
LastName:before
{
  content: ' ';
  position: relative;
}
LastName
{
  color: green;
}
LastName:after
{
  content: ' ';
  display: flex;
}
StudentID:before
{
  content: 'StudentID: ';
  position: relative;
  color: blue;
}
StudentID
{
  position: relative;
  color: purple;
}
StudentID:after
{
  content: ' ';
  display: flex;
}
Email:before
{
  content: 'Email: ';
  position: relative;
  color: blue;
}
Email
{
  position: relative;
  color: orange;
}
Email:after
{
  content: ' ';
  display: flex;
}
Phone:before
{
  content: 'phone number: ';
  position: relative;
  color:blue;
}
Phone
{
  position: relative;
  color:crimson;
}
Phone:after
{
  content: ' ';
  display: flex;
}
GPA:before
{
  content: 'GPA: ';
  position: relative;
  color: blue;
}
GPA
{
  position: relative;
  color:darkmagenta;
}
GPA:after
{
  content: ' ';
  display: flex;
}
Major:before
{
  content: 'Major: ';
  position: relative;
  color: blue;
}
Major
{
  position: relative;
  color: aquamarine;
}
Major:after
{
  content: ' ';
  display: flex;
}
Minor:before
{
  content: 'Minor: ';
  position: relative;
  color: blue;
}
Minor
{
  position: relative;
  color:brown;
}
Minor:after
{
  content: ' ';
  display: flex;
}
Status:before
{
  content: 'Status: ';
  position: relative;
  color: blue;
}
Status
{
  position: relative;
  color:gold;
}
Status:after
{
  content: ' ';
  display: flex;
}
Advisor:before
{
  content: 'Advisor: ';
  position: relative;
  color: blue;
}
Advisor
{
  position: relative;
  color: grey;
}
Advisor:after
{
  content: ' ';
  display: flex;
}
Dateofinitialenrollment:before
{
  content: 'Date of Initial Enrollment: ';
  position: relative;
  color: blue;
}
Dateofinitialenrollment
{
  position: relative;
  color:burlywood;
}
Dateofinitialenrollment:after
{
  content: ' Status Year: ' attr(StatusYear) ' ';
  color: darkmagenta;
  display: flex;
}
Graduationdate:before
{
  content: 'Graduation Date: ';
  position: relative;
  color: blue;
}
Graduationdate
{
  position: relative;
  color:coral;
}
